<div class="card">
    <div class="card-body">
        <h1>About</h1> 
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam alias tenetur, repellendus doloribus vitae possimus recusandae delectus animi, expedita saepe distinctio laboriosam, excepturi aperiam ab deserunt repudiandae voluptates ipsam eaque tempore optio! Commodi delectus sit, id cumque temporibus ullam qui!</p>
    </div>
</div>    